In [101]:
import camelot

In [102]:
tables = camelot.read_pdf('gc.pdf')

In [103]:
tables

In [104]:
tables.export('foo.csv', f = 'csv', compress = True)

In [105]:
tables[0]

In [106]:
tables[1]

In [107]:
tables[0].df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,,Sample\nName,Name,Batch_No,Vial,Inj,Inj.\nVol.\n(uL),Ch.\nNo.,RT\n(min),Std\nWeight,Std_\nDilnFactor,Std_\nWC_LOD,Std_\nAvg_Area,Potency,Sample\nWeight,Dilution,Spl_wc\nLOD_Solv,Sample\nArea\n(µV*sec),Result,Result\nId
1,1,CefAxeAmorphous,Acetone,CAANF18049,Tray2:8,1,1000,8,7.895,261.800,0.00200,0.00000,13.2556,99.900,203.2000,2.0000,0.00000,687084,2671.3,15022
2,Mean,,,,,,,,,,,,,,,,,687084,2671.3,Name: Cyclohexane

In [108]:
data = tables[1].df
data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,,Sample\nName,Name,Batch_No,Vial,Inj,Inj.\nVol.\n(uL),Ch.\nNo.,RT\n(min),Std\nWeight,Std_\nDilnFactor,Std_\nWC_LOD,Std_\nAvg_Area,Potency,Sample\nWeight,Dilution,Spl_wc\nLOD_Solv,Sample\nArea\n(µV*sec),Result,Result\nId
1,1,CefAxeAmorphous,Cyclohexane,CAANF18049,Tray2:8,1,1000,8,16.804,198.500,0.00200,0.00000,58.8658,99.500,203.2000,2.0000,0.00000,127025,84.0,15022
2,Mean,,,,,,,,,,,,,,,,,127025,84.0,Name: Ethyl acetate

In [109]:
class Sample:
  def __init__(self,sample_name, name, ):
    self.sample_name = sample_name
    self.name = name
    
  def get_sample_name(self):
    return self.sample_name

  def get_name(self):
    return self.name

In [110]:
for i in range(len(tables)):
    
    data = tables[i].df
    
    one = Sample(data[1][1], data[2][1])
    two = Sample(data[1][2], data[18][2])
    dd = dict([( one, data[18][1]),  (two, data[18][2])])
    
    print(one.get_name())

Acetone
Cyclohexane
Ethyl acetate
Methanol

In [111]:
data = tables[1].df
data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,,Sample\nName,Name,Batch_No,Vial,Inj,Inj.\nVol.\n(uL),Ch.\nNo.,RT\n(min),Std\nWeight,Std_\nDilnFactor,Std_\nWC_LOD,Std_\nAvg_Area,Potency,Sample\nWeight,Dilution,Spl_wc\nLOD_Solv,Sample\nArea\n(µV*sec),Result,Result\nId
1,1,CefAxeAmorphous,Cyclohexane,CAANF18049,Tray2:8,1,1000,8,16.804,198.500,0.00200,0.00000,58.8658,99.500,203.2000,2.0000,0.00000,127025,84.0,15022
2,Mean,,,,,,,,,,,,,,,,,127025,84.0,Name: Ethyl acetate

In [112]:
data.rename(columns={'0': 'index'}, inplace=True)

In [113]:
data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,,Sample\nName,Name,Batch_No,Vial,Inj,Inj.\nVol.\n(uL),Ch.\nNo.,RT\n(min),Std\nWeight,Std_\nDilnFactor,Std_\nWC_LOD,Std_\nAvg_Area,Potency,Sample\nWeight,Dilution,Spl_wc\nLOD_Solv,Sample\nArea\n(µV*sec),Result,Result\nId
1,1,CefAxeAmorphous,Cyclohexane,CAANF18049,Tray2:8,1,1000,8,16.804,198.500,0.00200,0.00000,58.8658,99.500,203.2000,2.0000,0.00000,127025,84.0,15022
2,Mean,,,,,,,,,,,,,,,,,127025,84.0,Name: Ethyl acetate

In [114]:
import csv
HEADERS = next(csv.reader(open('foo.csv')))
print (HEADERS)

['', 'Sample\nName', 'Name', 'Batch_No.', 'Vial', 'Inj', 'Inj.\nVol.\n(uL)', 'Ch.\nNo.', 'Std\nWeight', 'Std_\nDilnFactor', 'Std_\nWC_LOD', 'Std_\nAvg_Area', 'Potency', 'Sample\nWeight', 'Dilution', 'Spl_wc\nLOD_Solv', 'Avgwt\n_wtml', 'Sample\nArea\n(ÂµV*sec)', 'Assay', 'Result\nId']

In [115]:
my_dict = { data[1][0] : ["a", "b", "c", "d", "e","f", "g"],
            data[2][0] : [20,27, 35, 55, 18, 21, 35],
            data[3][0]: ["VP", "CEO", "CFO", "VP", "VP", "CEO", "MD"]}