In [3]:
import camelot

In [4]:
tables = camelot.read_pdf('a.pdf')

In [5]:
tables

In [6]:
tables.export('foo.csv', f = 'csv', compress = True)

In [7]:
tables[0]

In [8]:
tables[0].parsing_report

{'accuracy': 100.0, 'whitespace': 26.25, 'order': 1, 'page': 1}

In [9]:
tables[0].to_csv('foo.csv')

In [10]:
data = tables[0].df
data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,,Sample\nName,Name,Batch_No.,Vial,Inj,Inj.\nVol.\n(uL),Ch.\nNo.,Std\nWeight,Std_\nDilnFactor,Std_\nWC_LOD,Std_\nAvg_Area,Potency,Sample\nWeight,Dilution,Spl_wc\nLOD_Solv,Avgwt\n_wtml,Sample\nArea\n(µV*sec),Assay,Result\nId
1,1 2,Cefpodoxime Proxetil IP_1/1,sum,CDPNF18040,5 5,1 1,20.00,11,50.010,0.00050,0.00000,418014,744.300,51.1300,2000.0000,2.29000,1.00000,390029,695.178,18883
2,,Cefpodoxime Proxetil IP_1/2,sum,CDPNF18040,,,20.00,12,50.010,0.00050,0.00000,418014,744.300,51.1300,2000.0000,2.29000,1.00000,389827,694.819,18884
3,Mean,,,,,,,,,,,,,,,,,389928,695.0,

In [11]:
sample_names = data[1][1] # [col][row]
test = data[1][2]
sample_names

'Cefpodoxime Proxetil IP_1/1'

In [12]:
test

'Cefpodoxime Proxetil IP_1/2'

In [13]:
d = dict([(data[1][1], data[18][1]), (data[1][2], data[18][2])])

In [14]:
d

{'Cefpodoxime Proxetil IP_1/1': '695.178',
 'Cefpodoxime Proxetil IP_1/2': '694.819'}

In [35]:
class Sample:
  def __init__(self,sample_name, name):
    self.sample_name = sample_name
    self.name = name
    
  def get_sample_name(self):
    return self.sample_name

  def get_name(self):
    return self.name

In [30]:
one = Sample(data[1][1], data[2][1])
two = Sample(data[1][2], data[18][2])
dd = dict([( one, data[18][1]),  (two, data[18][2])])

In [33]:
one.get_sample_name()

'Cefpodoxime Proxetil IP_1/1'

In [34]:
one.get_name()

'sum'